Repository AreYouW/mano-aloe, pull requests merged in 2020-09, with the labels that each got.

#145 remove game wip notice
  frontend/src/pages/game/game.tsx
Labels: frontend

#143 added new contributors
  README.md
Labels: documentation

#144 fix auto scroll button covering community message and add new anchor
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/pages/home/home.tsx
Labels: bug, enhancement, frontend

#147 add journey to hololive icon
  frontend/src/tempGameStash/games.json
Labels: frontend

#148 added new header translation
  frontend/src/components/navbar.tsx
Labels: frontend

#158 work around npm build bug
  frontend/src/components/navigation/navbar.css
Labels: bug, frontend

#159 Make auto scroll buttons more obvious
  frontend/src/App.css
  frontend/src/assets/miscellaneous/arrow-down.png
  frontend/src/pages/home/home.tsx
Labels: frontend
