Repository AreYouW/mano-aloe, pull requests merged in 2020-08, with the labels that each got.

#2 Backend
  .gitignore
  README.md
  backend/main/__init__.py
  backend/main/server/__init__.py
  backend/main/server/api.py
  backend/main/server/config.py
  backend/main/server/models.py
  backend/main/server/resources/Message.py
  backend/main/server/resources/__init__.py
  backend/manage.py
  requirements.txt
Labels: backend, enhancement

#22 app refactor
  frontend/src/App.css
  frontend/src/components/MessageCardSection.js
  frontend/src/components/Navbar.tsx
  frontend/src/components/messageCardSection/messageCard/messageCard.tsx
  frontend/src/components/messageCardSection/messageCard/styles.module.css
  frontend/src/components/messageCardSection/messageCardSection.tsx
  frontend/src/models/message.ts
  frontend/src/pages/Home.js
  frontend/src/pages/Home.tsx
Labels: frontend

#28 Responsive Card UI (3 Column Layout)
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/card3.png
  frontend/src/components/messageCardSection/messageCard/messageCard.css
  frontend/src/components/messageCardSection/messageCard/messageCard.tsx
  frontend/src/components/messageCardSection/messageCardLayout.css
  frontend/src/components/messageCardSection/messageCardSection.tsx
  frontend/src/controllers/mano-aloe.service.ts
Labels: enhancement, frontend

#58 Add gallery games to db
  backend/main/server/api.py
  backend/main/server/models.py
  backend/main/server/resources/Gallery.py
  backend/main/server/resources/Game.py
Labels: backend, enhancement

#63 Rename region to country in frontend code
  frontend/src/models/country.ts
  frontend/src/models/dummyMessage.ts
  frontend/src/models/message.ts
Labels: frontend

#66 Add rounded corners and padding above body text
  frontend/src/components/messageCardSection/messageCard/messageCard.css
  frontend/src/components/messageCardSection/messageCard/messageCard.tsx
Labels: enhancement, frontend

#67 add translate button icon and replace "translate botan" text
  frontend/src/assets/translateIcon.svg
  frontend/src/components/messageCardSection/messageCard/messageCard.css
  frontend/src/components/messageCardSection/messageCard/messageCard.tsx
Labels: enhancement, frontend

#69 Change `Country` enum to a union type of strings
  frontend/src/models/country.ts
Labels: frontend

#73 Emoji flags
  frontend/src/components/messageCardSection/messageCard/messageCard.css
  frontend/src/components/messageCardSection/messageCard/messageCard.tsx
Labels: frontend

#74 fix message card columns not changing layout on resize
  frontend/src/components/messageCardSection/messageCardLayout.css
Labels: enhancement, frontend

#77 Add tiling background to App root
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/App-root-bg.svg
Labels: enhancement, frontend

#78 removed useless grid elements
  frontend/src/App.tsx
Labels: frontend

#75 Add routing for art and games
  frontend/src/App.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/index.tsx
  frontend/src/pages/Art.css
  frontend/src/pages/Art.tsx
  frontend/src/pages/Game.css
  frontend/src/pages/Game.tsx
Labels: enhancement, frontend

#81 Change VisibilitySensor to inViewport
  frontend/package.json
  frontend/src/@types/react-in-viewport.d.ts
  frontend/src/components/messageCardSection/messageCard/messageCard.tsx
  frontend/src/index.tsx
Labels: frontend

#80 Change navbar style
  frontend/src/components/Navbar.tsx
Labels: frontend

#85 Homepage overhaul
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/video-container-bg.svg
  frontend/src/components/messageCardSection/messageCardLayout.css
  frontend/src/pages/Home.css
  frontend/src/pages/Home.tsx
Labels: enhancement, frontend

#83 change navbar icon colors for visibility
  frontend/src/components/Navbar.tsx
Labels: enhancement, frontend

#86 Change icon buttons on navbar to use `react-router-dom` routing
  frontend/src/components/Navbar.tsx
Labels: frontend

#91 Implement language switch button
  frontend/src/App.tsx
  frontend/src/assets/translateIcon.svg
  frontend/src/components/Navbar.tsx
  frontend/src/components/languageSwitchSection/languageContext.tsx
  frontend/src/components/languageSwitchSection/languageSwitch.tsx
  frontend/src/components/messageCardSection/messageCard/messageCard.tsx
  frontend/src/components/messageCardSection/messageCardSection.tsx
  frontend/src/models/language.ts
  frontend/src/services/session.service.ts
Labels: frontend

#90 Add gallery section and artwork card components
  frontend/src/components/gallerySection/artworkCard/artworkCard.css
  frontend/src/components/gallerySection/artworkCard/artworkCard.tsx
  frontend/src/components/gallerySection/gallerySection.css
  frontend/src/components/gallerySection/gallerySection.tsx
  frontend/src/pages/Art.tsx
Labels: frontend

#89 Fix card layout on chrome
  README.md
  frontend/src/components/messageCardSection/messageCard/messageCard.css
Labels: bug, documentation, frontend

#97 fix z index
  frontend/src/components/navbar.css
Labels: frontend

#99 Initial artwork card style and layout
  frontend/src/components/gallery/artworkCard/artworkCard.css
  frontend/src/components/gallery/artworkCard/artworkCard.tsx
  frontend/src/components/gallery/gallerySection.css
  frontend/src/components/gallery/gallerySection.tsx
  frontend/src/components/messageCardSection/messageCardLayout.css
  frontend/src/pages/gallery/art.css
  frontend/src/pages/game/game.css
Labels: frontend

#102 added more contributors
  README.md
Labels: documentation

#104 Mobile layout
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/messageCardSection/messageCard/messageCard.css
  frontend/src/components/navbar.css
  frontend/src/components/navbar.tsx
  frontend/src/pages/home/home.tsx
Labels: enhancement, frontend

#107 change community message and fix content
  frontend/public/index.html
  frontend/src/App.tsx
Labels: frontend

#111 Embed game proof of concept Revenge
  frontend/src/assets/icons/close.png
  frontend/src/assets/icons/play.png
  frontend/src/components/gamesSection/game.css
  frontend/src/components/gamesSection/gameCard/gameCard.tsx
  frontend/src/components/gamesSection/gameSection.tsx
  frontend/src/components/gamesSection/gameWindow.tsx
  frontend/src/components/shared/baseCard/baseCard.tsx
  frontend/src/components/shared/baseSection/baseSection.tsx
  frontend/src/models/game.ts
  frontend/src/pages/game/game.tsx
  frontend/src/services/game.service.ts
  frontend/src/tempGameStash/games.json
Labels: enhancement, frontend

#110 fix portrait layout to enforce min card width
  frontend/src/components/messageCardSection/messageCard/messageCard.css
Labels: frontend

#117 Restyle links
  frontend/src/index.css
Labels: frontend

#116 Add loading placeholder in artwork cards, plus card restyling
  frontend/src/components/gallery/artworkCard/artworkCard.css
  frontend/src/components/gallery/artworkCard/artworkCard.tsx
  frontend/src/components/gallery/gallerySection.css
Labels: frontend

#121 Add conversion and validation functions to/from model types and JSON response types
  frontend/src/components/gallery/artworkCard/artworkCard.tsx
  frontend/src/components/gamesSection/gameCard/gameCard.tsx
  frontend/src/components/gamesSection/gameWindow.tsx
  frontend/src/controllers/mano-aloe.service.ts
  frontend/src/models/artwork.ts
  frontend/src/models/game.ts
  frontend/src/models/message.ts
  frontend/src/models/response.ts
  frontend/src/models/url.ts
  frontend/src/services/session.service.ts
Labels: frontend

#126 fix card overflow
  frontend/src/App.css
Labels: frontend

#129 Disable blur effect on small (mobile) devices
  frontend/src/components/gallery/artworkCard/artworkCard.css
Labels: frontend

#128 Code split with React.lazy
  frontend/src/App.tsx
Labels: frontend

#131 Center game cards
  frontend/src/App.css
  frontend/src/components/gamesSection/game.css
  frontend/src/components/shared/baseSection/baseSection.tsx
Labels: enhancement, frontend

#132 add open in new window button for games
  frontend/src/components/gamesSection/game.css
  frontend/src/components/gamesSection/gameCard/gameCard.tsx
Labels: enhancement, frontend

#134 open up game page
  frontend/src/components/gamesSection/game.css
  frontend/src/components/gamesSection/gameCard/gameCard.tsx
  frontend/src/models/game.ts
  frontend/src/pages/game/game.tsx
  frontend/src/pages/home/home.css
  frontend/src/tempGameStash/games.json
Labels: enhancement, frontend

#135 remove expensive blur effect
  frontend/src/components/gallery/artworkCard/artworkCard.tsx
Labels: frontend

#141 Final community message
  frontend/src/App.tsx
Labels: frontend
