Repository AreYouW/mano-aloe, pull requests merged in 2020-10, with the labels that each got.

#175 Happy Birthday Aloe ;u;
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/backgrounds/bday-bg.png
  frontend/src/assets/sprites/manotomo1.png
  frontend/src/assets/sprites/manotomo2.png
  frontend/src/components/headerSection/header.css
  frontend/src/components/headerSection/header.tsx
Labels: enhancement, frontend

#176 region to country
  frontend/src/components/messageSection/messageCard/messageCard.tsx
  frontend/src/models/country.ts
  frontend/src/models/message.ts
  frontend/src/pages/home/home.tsx
Labels: bug, frontend

#180 More credits
  README.md
Labels: documentation

#181 render template images for games
  frontend/src/components/gamesSection/gameCard/gameCard.tsx
Labels: bug, frontend

#178 fix API endpoint to accept message instead of region in json response
  backend/main/server/resources/Message.py
Labels: backend, bug

#183 Frontend Test/Tool
  frontend/test/README.md
  frontend/test/main.py
  frontend/test/requirements.txt
  frontend/test/test_messages.py
Labels: backend, frontend, test
